body {
color:white;
background-color: #040125;
font-family: Arial, Helvetica, sans-serif;
background-image: url(./img-galaxia/galaxia3.jpeg);
background-repeat: no-repeat;
background-position: inherit;
}



ul{
display: flex;
justify-content: space-between;
list-style-type: none;
align-items: center;
padding: 15px;  


}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p   {
    color: rgb(255, 255, 255);
    
}

header img {
width: 150px;
height: 150px;
border-radius: 80px;
border: 5px solid #2F4F4F

}

.center {
    text-align: center;
}
h1 {
    color: green;
}
footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;;

}
footer{
    display: flex;
    justify-content: center;

}
footer a{
margin: 5px;
text-align: center;
}
footer p {
    margin: 2px;
}
.conteiner {
    padding: 5px 50px;
}
nav a:hover{
    color: #0df505;
}

.contatos {
}